# ignores everything except the builtin config files starting with #
*
!.gitignore
!\#*
!jenna ushkowitz SDXL.json

# #.json is an exception (from the exception). This file stores the ui state from a previous run.
\#.json
